@model Episerver9.Models.Pages.StartPage

<html>
<body>
    @*Admin http://localhost:57532/episerver/cms*@
    <div>Our first pagetype</div>
    <h1>Heading: @Html.PropertyFor(x => x.Heading)</h1>
    <p>@Html.PropertyFor(x => x.MainBody)</p>
</body>

</html>